<div class="hx-pivot-header">
    <ng-container *ngFor="let header of headers;trackBy: trackByHeader;">
        <ng-template [ngTemplateOutlet]="headerTemplate" [ngTemplateOutletContext]="{$implicit: header}">
        </ng-template>
    </ng-container>
</div>

<ng-template #headerTemplate let-header>
    <div (mousedown)="resize($event)" class="hx-pivot-header__header-cell"
         [class.row-width]="header.headerType === 'row'" [class.column-width]="header.headerType === 'column'"
         [class.dimension]="header.headerType === 'column'">
        <div class="hx-pivot-header__header-name d-flex" [hxPivotFilterHeader]="header">
            <div class="hx-pivot-header__header-label">{{header.caption}}</div>
        </div>
        <div [hxPivotSortHeader]="header"></div>
    </div>
</ng-template>