.hx-pivot-table {
  font-family: 'aktiv';
  position: relative;
  overflow: hidden;
  &__header {
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  &__background-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff99;
    top: 0;
  }
  &__cdk-cell {
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
  }
  &__cdk-cell {
    padding: 7px 4px;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  &__cdk-wrapper {
    margin-top: 30px;
    background: #fff;
  }
  &__cdk-row {
    display: flex;
    flex-direction: row;
  }
  &__blank-space {
    position: absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    pointer-events:none
  }
}

.bg-dimension {
  background: #f7f7f7;
  place-content: flex-end;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 0.1);
}
cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
  background: rgba(24, 28, 33, 0.3);
  border-radius: 10px;
}
cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 28, 33, 0.6);
  border-radius: 10px;
}

.sticky-position {
  position: sticky;
  z-index: 100;
}

.row-width {
    min-width: 150px;
    width: 150px;
}
.column-width {
    min-width: 125px;
    width: 125px;
}
.align-right {
  place-content: flex-end;
}