<section class="hx-pivot-table position-relative h-100">
  <div class="hx-pivot-table__header" hxPivotSort hxPivotFilter [style.left.px]="scrollLeft$ | async">
    <hx-pivot-header *ngIf="(headers$ | async) as headers" [headers]="headers"></hx-pivot-header>
  </div>
  <cdk-virtual-scroll-viewport [itemSize]="30" minBufferPx="270" maxBufferPx="300" class="hx-pivot-table__cdk-wrapper"
                               [style.height.px]="height - 30">
    <div *cdkVirtualFor="let row of dataSource$ | async; trackBy: trackByRow;" class="hx-pivot-table__cdk-row">
      <ng-container *ngFor="let key of displayColumns$ | async; trackBy: trackByKey;">
        <div *ngTemplateOutlet="(rows$ | async).includes(key) 
                                ? dimension 
                                : (heatmap$.value?.length > 0 || conditions$.value?.length > 0) 
                                ? autoHeatMapConditionalFormatting 
                                : numberFormatting; 
                                context: { $implicit: row, key: key }">
        </div>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
  <div class="hx-pivot-table__blank-space"></div>
  <!-- loading block -->
  <ng-template [ngIf]="hxLoader$ | async" [ngIfThen]="hxLoader"></ng-template>
</section>

<ng-template #dimension let-cell let-key="key">
  <div class="hx-pivot-table__cdk-cell bg-dimension row-width">
    <div class="hx-pivot-table__cell-value">{{cell[key] ? cell[key] : '-'}}</div>
  </div>
</ng-template>

<ng-template #autoHeatMapConditionalFormatting let-cell let-key="key">
  <div class="hx-pivot-table__cdk-cell align-right column-width"
       [ngStyle]="cell[key] | hxPivotCellFormatter: key : heatmap$.value: conditions$.value">
    <div class="hx-pivot-table__cell-value">
      {{cell[key] | hxPivotNumberFormatter: key : pivotDataSource$.value.formats}}
    </div>
  </div>
</ng-template>


<ng-template #numberFormatting let-cell let-key="key">
  <div class="hx-pivot-table__cdk-cell align-right column-width">
    <div class="hx-pivot-table__cell-value">
      {{cell[key] | hxPivotNumberFormatter: key : pivotDataSource$.value.formats}}
    </div>
  </div>
</ng-template>

<ng-template #hxLoader>
  <div class="d-flex align-items-center justify-content-center hx-pivot-table__background-loader">
    <div class="f-14">
      <svg class="entityLoader" xmlns="http://www.w3.org/2000/svg"
           style="margin: auto; background: transparent none repeat scroll 0% 0%; display: block;" viewBox="0 0 100 100"
           preserveAspectRatio="xMidYMid">
        <circle cx="27.5" cy="57.5" r="5" class="entityBlue">
          <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5"
                   repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.6s">
          </animate>
        </circle>
        <circle cx="42.5" cy="57.5" r="5" class="entityBlue">
          <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5"
                   repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s"
                   begin="-0.44999999999999996s">
          </animate>
        </circle>
        <circle cx="57.5" cy="57.5" r="5" class="entityBlue">
          <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5"
                   repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.3s">
          </animate>
        </circle>
        <circle cx="72.5" cy="57.5" r="5" class="entityBlue">
          <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5"
                   repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.15s">
          </animate>
        </circle>
      </svg>
      <p class="loading-text-material mb-0 WSF f-16 fw-500 mb-1">Please be patient while we processing your data
      </p>
    </div>
  </div>
</ng-template>